<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTTP Server | Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum qui
      laboriosam, adipisci eos ipsa facilis dignissimos repellendus aliquid
      ratione corporis asperiores voluptatibus similique, eaque debitis,
      consequuntur assumenda repudiandae voluptatum quis.
    </p>
  </body>
</html>
